
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h3>
      	<% unless @user.avatar.attachment.nil? %>
			     <%= image_tag @user.avatar, class: "img-fluid"%>
	     	<% else %>
			     <img class ="img-fluid", src="https://www.bsn.eu/wp-content/uploads/2016/12/user-icon-image-placeholder-300-grey.jpg">
		    <% end %>
        	<%= @user.username %>
		      <%= @user.email %>
      </h3>
    </section>
  </aside>
</div>