
<div class="well">
	<% if post.image.attachment %>
		<figure>
		<%= image_tag post.image, class: "img-fluid img-thumbnail" %>
	</figure>
	<% end %>
	<p><%= post.body %></p> 
	<%= link_to "Delete", post, id: "del", method: :delete, data: {confirm: "U sure?"} if current_user?(post.user_id)%>
	
	<%= render "likes/likes", post: post %>

</div>