
<div class="well">
	<% if post.image.attachment %>
		<figure>
		<%= image_tag post.image, class: "post_img img-thumbnail" %>
	</figure>
	<% end %>
	<p><%= post.body %></p> 
	<%= link_to "Delete", post,id: "del", method: :delete, data: {confirm: "U sure?"} %>
</div>